:root {
    --color-background:#126e82;
    --color-background-nav:#1E628C;
    --color-background-home:#272C33;
    --color-background-light:#EBECED;
    --color-button: #51c4d3;
    --color-text-light:#fff;
    --color-text-dark:#000;
    --color-text:#d8e3e7;
  }

html,
body {
    background-color: var(--color-text-dark);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}